.arrow {
	width: 0;
	height: 0;
}
/**
 * Arrow CSS trick: side borders are transparent, direction border is missing
 * and the border opposite direction has colour and width
 */
.arrow-up {
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid red;
}

.arrow-down {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid green;
}

.arrow-left {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid blue;
}

.arrow-right {
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid yellow;
}