body {
    background-color: black;
    font-family: arial, helvetica, sans-serif;
}

header, section, footer {
    min-height: 100px;
    display: block;
}

#container {
    width: 90%;
    max-width: 1150px;
    margin: 10px auto;
}

/* header */
header {
    background-color: #eee;
}

h1 {
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

nav {
    margin: 20px 0 0 0;
    height: 31px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    background: #bbb;
    margin: 0;
}

nav a:hover {
    color: #eee;
    background: #555;
}

/* section */
section {
    background-color: #ddd;
}

.section {
    min-height: 600px;
}

/* section home */
.home {
    background-image: url('https://mgcreativedesign.files.wordpress.com/2014/11/cropped-cropped-cropped-website-design-background1.png');
    background-position: center top;
    background-size: cover;
    text-shadow: 2px 2px #555;

}

.home h2 {
    color: #eee;
    /*background-color: #555;*/
    display: inline-block;
}

.home h3 {
    padding-top: 5%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 80px;
}

.home h4 {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

.social {
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 20px 0;
}

.social li {
    display: inline-block;
    margin: 0 auto;
}

.social li img {
    border-radius: 50%;
    border: 2px solid #555;
}

/* section about */
.about h2 {
    color: #bbb;
    background-color: #555;
    display: inline-block;
}

.about h3 {
    color: #555;
    background-color: #eee;
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.about p {
    color: #555;
}

.about .bubble-wrapper {
    display: block;
    float: right;
    width: 10%;
    padding: 30px auto;
    text-align: center;
    margin-right: 50px;
}

.about .text {
    display: block;
    padding: 30px auto;
    text-align: left;
    width: 40%;
    float: left;
    margin-left: 10px;
}

.about .text:first-letter {
    font-size: 200%;
}

.about img {
    float: right;
    margin-right: 10%;
}

/* section skill */
.skill {
    text-align: center;
}

.skill h2 {
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 5px;
    /*background-color: #555;*/
    font-size: 50px;
    text-shadow: 2px 2px #555;
}

/* section portfolio */
.portfolio {
    text-align: center;
}

.portfolio h2 {
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 5px;
    /*background-color: #555;*/
    font-size: 50px;
    text-shadow: 2px 2px #555;
}

/* section contact */
.contact {
    text-align: center;
}

.contact h2 {
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 5px;
    /*background-color: #555;*/
    font-size: 50px;
    text-shadow: 2px 2px #555;
}

.contact h3 {
    width: 40%;
    text-transform: uppercase;
    color: #bbb;
    letter-spacing: 3px;
    font-size: 20px;
    text-shadow: 2px 2px #555;
    margin-top: 5%;
}

/* TOP */
.top {
    text-align: right;
}

.top a {
    text-decoration: none;
    color: #555;
    background-color: #bbb;
    font-size: 15px;
    font-weight: bold;
}

.top a:hover {
    color: #bbb;
    background-color: #555;
}

/* clear */
.clear {
    clear: both;
}

/* footer */
footer {
    background-color: #bbb;
    font-size: 12px;
    padding: 20px 0;
}

/* end of footer */