body {
    background-color: black;
    font-family: arial, helvetica, sans-serif;
}

header, section, aside, footer {
    min-height: 100px;
    display: block;
}

#container {
    width: 90%;
    max-width: 1150px;
    margin: 10px auto;
}

/* header */
header {
    background-color: #eee;
}

h1 {
    color: #555;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

nav {
    margin: 20px 0 0 0;
    height: 31px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    background: #bbb;
    margin: 0;
}

nav a:hover {
    color: #eee;
    background: #555;
}

/* section */
section {
    background-color: #ddd;
}

.section {
    min-height: 500px;
}

/* section home */
.home h2 {
    color: #bbb;
    background-color: #555;
    display: inline-block;
}

.home h3 {
    color: #555;
    background-color: #eee;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

/* section about */
.about h2 {
    color: #bbb;
    background-color: #555;
    display: inline-block;
}

.about h3 {
    color: #555;
    background-color: #eee;
    display: inline-block;
    float: left;
    margin-left: 10px;
}

.about p {
    color: #555;
}

.about .bubble-wrapper {
    display: block;
    float: right;
    width: 10%;
    padding: 30px auto;
    text-align: center;
    margin-right: 50px;
}

.about .text {
    display: block;
    padding: 30px auto;
    text-align: left;
    width: 40%;
    float: left;
    margin-left: 10px;
}

.about .text:first-letter {
    font-size: 200%;
}

.about img {
    float: right;
    margin-right: 10%;
}

/* section service */
/* section skill */
/* section contact */

/* TOP */
.top {
    text-align: right;
}

.top a {
    text-decoration: none;
    color: #555;
    background-color: #bbb;
    font-size: 15px;
    font-weight: bold;
}

.top a:hover {
    color: #bbb;
    background-color: #555;
}

/* clear */
.clear {
    clear: both;
}

/* footer */
footer {
    background-color: #bbb;
    font-size: 12px;
    padding: 20px 0;
}

footer .row {
    display: flex;
    align-items: center;
    color: #555;
}

footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
}

footer ul {
    list-style: none;
}

footer li img {
    width: 30px;
    height: 30px;
}

/* end of footer */