body {
    background-color: #fff;
    font-family: arial, helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: block;
}

/* header */
.header {
    background-color: #fff;
    min-height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    display: flex;
}

nav {
    margin: 10px auto;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #555;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    display: block;
    text-align: center;
}

nav a:hover {
    color: #98ff98;
}

nav ul li {
    flex-grow: 1;
}

/* section */
.section {
    min-height: 600px;
    padding-top: 50px;
}

/* section home */
.home {
    background-image: url('http://www.robosoftmedia.com/bangor/wp-content/uploads/2011/12/hi-tech-apple-keyboard-mouse-hd-wallpaper1.jpg');
    background-position: center top;
    background-size: cover;
    text-shadow: 2px 2px #555;

}

.home h1 {
    padding-top: 10%;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 80px;
}

.home h2 {
    padding-top: 10px;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
}

.social {
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 20px 0;
}

.social li {
    display: inline-block;
    margin: 0 auto;
}

.social li img {
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 2px;
}

.social img:hover {
    background-color: #98ff98;
    border-radius: 50%;
} 

/* section about */
.about h1 {
    color: #555;
    display: inline-block;
}

.about h2 {
    color: #555;
    background-color: #eee;
    display: inline-block;
    float: left;
    margin-left: 15px;
}

.about .bubble-wrapper {
    display: block;
    float: right;
    width: 10%;
    padding: 30px auto;
    text-align: center;
    margin-right: 50px;
}

.about p {
    color: #555;
    text-align: left;
    margin-left: 10px;
    font-size: 15px;
}

.about .left {
    width: 50%;
    display: inline-block;
}

.about p:first-letter {
    font-size: 200%;
    margin-left: 25px;
}

.about .left img {
    height: 40px;
    width: 40px;
}

.about .left li {
    display: inline-block;
    margin: 0 auto;
    height: 60px;
    width: 80px;
}

.about .left ul p {
    margin: 0;
    text-align: center;
}

.about .left ul {
    padding: 0;
    list-style: none;
    text-align: center;

}

.about h4 {
    color: #555;
    text-align: center;
    margin-top: 90px;
    padding-bottom: 30px;
}

.about .right {
    width: 50%;
    display: inline-block;
    float: right;
}

.about .right img {
    height: 370px;
    width: 350px;
    border-radius: 15px;
    float: right;
    margin-right: 100px;
}

/* section skill */
.skill h1 {
    text-align: left;
    color: #555;
    letter-spacing: 5px;
}

.skill h2 {
    text-align: center;
    color: #555;
}

.skill .list {
    height: 300px;
    margin-top: 50px;
}

.skill .data {
    padding: 0;
}

.skill ul {
    list-style: none;
}

.one #myProgress {
    margin: 0 auto;
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #eee;
    border: 1px solid #555;
}

.one #myBar {
    position: absolute;
    width: 37%;
    height: 100%;
    background-color: #98ff98;
}

.two #myProgress {
    margin: 0 auto;
    position: relative;
    width: 50%;
    height: 30px;
    background-color: #eee;
    border: 1px solid #555;
}

.two #myBar {
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: #98ff98;
}

#myBar p {
    margin-top: 5px;
    text-align: right;
    color: #555;
    font-weight: bold;
}

.one {
    padding-top: 20px;
}

.two {
    padding-top: 20px;
}

/* section portfolio */
.portfolio h1 {
    text-align: left;
    color: #555;
    letter-spacing: 5px;
}

.portfolio .loading {
    text-align: center;
    padding-top: 80px;
}

.portfolio img {
    height: 100px;
    width: 100px;
}

/* section contact */
.contact h1 {
    text-align: left;
    color: #555;
    letter-spacing: 5px;
}

.contact .left {
    width: 50%;
    display: inline-block;
    margin-top: 50px;
    padding-top: 30px;
}

.contact h2 {
    color: #555;
    font-size: 20px;
    text-align: center;
}

.soc {
    padding: 0;
    margin-left: 50px;
}

.soc li {
    display: block;
    margin: 20px auto;
}

.soc li img {
    width: 40px;
    height: 40px;
    border: 1px solid #555;
    border-radius: 10px;
}

.soc p {
    text-decoration: none;
    display: inline-block;
    padding-left: 20px;
    margin-top: 12px;
    font-size: 15px;
    position: absolute;
}

.contact .right {
    width: 50%;
    float: right;
    margin-top: 50px;
    padding-top: 30px;
}

.contact h3 {
    color: #555;
    font-size: 20px;
    text-align: center;
}

.contact a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
}

.contact a:hover {
    font-weight: bold;
    color: #eee;
}

/* TOP */
.top {
    text-align: right;
    margin: 10px;
}

.top a {
    text-decoration: none;
    color: #555;
    font-size: 15px;
    font-weight: bold;
}

.top a:hover {
    color: #bbb;
    background-color: #555;
    border-radius: 5px;
}

/* clear */
.clear {
    clear: both;
}

/* footer */
footer {
    background-color: #bbb;
    font-size: 12px;
    padding: 20px 0;
}

/* end of footer */