body {
	background-color: black;
	font-family: arial,helvetica,sans-serif;
}

header,section,aside,footer {
	min-height: 100px;
	display: block;
}

header {
	background-color: #eee;
}

section {
	background-color: #ddd;
}

aside {
	background-color: #ccc;
	width: 20%;
	float: left;
}

footer {
	background-color: #bbb;
}

#container {
	width: 90%;
	max-width: 1150px;
	margin: 10px auto;
}

#page {
	width: 80%;
	float: right;
}

h1 {
	color: #555;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin: 0;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: #555;
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	padding: 10px 20px;
	background: #bbb;
	display: inline-block;
	margin: 0;
	float: left;
}

nav a:hover {
	color: #eee;
	background: #555;
}

nav {
	margin: 20px 0 0 0;
	height: 31px;
}

